@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

#wifi-loader {
	--background: #62abff;
	--front-color: #4f29f0;
	--back-color: #c3c8de;
	--text-color: #414856;
	width: 64px;
	height: 64px;
	border-radius: 50px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

#wifi-loader svg {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

#wifi-loader svg circle {
	position: absolute;
	fill: none;
	stroke-width: 6px;
	stroke-linecap: round;
	stroke-linejoin: round;
	transform: rotate(-100deg);
	transform-origin: center;
}

#wifi-loader svg circle.back {
	stroke: var(--back-color);
}

#wifi-loader svg circle.front {
	stroke: var(--front-color);
}

#wifi-loader svg.circle-outer {
	height: 86px;
	width: 86px;
}

#wifi-loader svg.circle-outer circle {
	stroke-dasharray: 62.75 188.25;
}

#wifi-loader svg.circle-outer circle.back {
	animation: circle-outer135 1.8s ease infinite 0.3s;
}

#wifi-loader svg.circle-outer circle.front {
	animation: circle-outer135 1.8s ease infinite 0.15s;
}

#wifi-loader svg.circle-middle {
	height: 60px;
	width: 60px;
}

#wifi-loader svg.circle-middle circle {
	stroke-dasharray: 42.5 127.5;
}

#wifi-loader svg.circle-middle circle.back {
	animation: circle-middle6123 1.8s ease infinite 0.25s;
}

#wifi-loader svg.circle-middle circle.front {
	animation: circle-middle6123 1.8s ease infinite 0.1s;
}

#wifi-loader svg.circle-inner {
	height: 34px;
	width: 34px;
}

#wifi-loader svg.circle-inner circle {
	stroke-dasharray: 22 66;
}

#wifi-loader svg.circle-inner circle.back {
	animation: circle-inner162 1.8s ease infinite 0.2s;
}

#wifi-loader svg.circle-inner circle.front {
	animation: circle-inner162 1.8s ease infinite 0.05s;
}

#wifi-loader .text {
	position: absolute;
	bottom: -40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.2px;
}

#wifi-loader .text::before,
#wifi-loader .text::after {
	content: attr(data-text);
}

#wifi-loader .text::before {
	color: var(--text-color);
}

#wifi-loader .text::after {
	color: var(--front-color);
	animation: text-animation76 3.6s ease infinite;
	position: absolute;
	left: 0;
}

@keyframes circle-outer135 {
	0% {
		stroke-dashoffset: 25;
	}

	25% {
		stroke-dashoffset: 0;
	}

	65% {
		stroke-dashoffset: 301;
	}

	80% {
		stroke-dashoffset: 276;
	}

	100% {
		stroke-dashoffset: 276;
	}
}

@keyframes circle-middle6123 {
	0% {
		stroke-dashoffset: 17;
	}

	25% {
		stroke-dashoffset: 0;
	}

	65% {
		stroke-dashoffset: 204;
	}

	80% {
		stroke-dashoffset: 187;
	}

	100% {
		stroke-dashoffset: 187;
	}
}

@keyframes circle-inner162 {
	0% {
		stroke-dashoffset: 9;
	}

	25% {
		stroke-dashoffset: 0;
	}

	65% {
		stroke-dashoffset: 106;
	}

	80% {
		stroke-dashoffset: 97;
	}

	100% {
		stroke-dashoffset: 97;
	}
}

@keyframes text-animation76 {
	0% {
		clip-path: inset(0 100% 0 0);
	}

	50% {
		clip-path: inset(0);
	}

	100% {
		clip-path: inset(0 0 0 100%);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card_box {
	padding: 12px;
	border-radius: 20px;
	position: relative;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.card_box span {
	position: absolute;
	overflow: hidden;
	width: 150px;
	height: 150px;
	top: -10px;
	left: -10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card_box span::before {
	content: "Compressed";
	position: absolute;
	width: 150%;
	height: 40px;
	background-image: linear-gradient(
		45deg,
		#ff6547 0%,
		#ffb144 51%,
		#ff7053 100%
	);
	transform: rotate(-45deg) translateY(-20px);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-weight: 600;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
}

.card_box span::after {
	content: "";
	position: absolute;
	width: 10px;
	bottom: 0;
	left: 0;
	height: 10px;
	z-index: -1;
	box-shadow: 140px -140px #cc3f47;
	background-image: linear-gradient(
		45deg,
		#ff512f 0%,
		#f09819 51%,
		#ff512f 100%
	);
}
